<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
</head>
<body>
    body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
    <h1>Sign In</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <input type="submit" value="Sign In">

    </form>
</body>
</html>
